<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.edu.upc.carbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
    <uses-permission android:name="android.permission.CAMERA"/> 
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> 
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> 
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> 
    <uses-permission android:name="android.permission.RECORD_AUDIO"/> 
    <uses-feature android:name="android.hardware.camera2"/>

    <application
        android:name=".CarbookApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="latest_news.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="pe.edu.upc.carbook" />

        <!-- <activity android:name=".share.activities.NavigationActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <activity android:name=".share.activities.BaseActivity" />
        <activity android:name=".share.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".share.activities.NavigationActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".share.activities.RegisterActivity" />
        <activity
            android:name=".provider.activities.LocalDetailActivity"
            android:label="@string/title_activity_local"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".provider.activities.LocalManageActivity"
            android:label="@string/title_activity_local_manage"
            android:theme="@style/AppTheme" />
        android:theme="@style/AppTheme" />
        <activity
            android:name=".client.activities.AdvertDetailActivity"
            android:label="@string/title_activity_advert_detail"
            android:parentActivityName=".share.activities.NavigationActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.upc.carbook.share.activities.NavigationActivity" />
        </activity>
        <activity
            android:name=".provider.activities.AdvertDetailActivity"
            android:label="@string/title_activity_advert_detail"
            android:theme="@style/AppTheme" />
        <activity android:name=".provider.activities.PostulateActivity" />
        <activity
            android:name=".client.activities.AdvertDetailGalleryActivity"
            android:label="@string/title_activity_advert_detail_gallery"
            android:parentActivityName=".client.activities.AdvertDetailActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.upc.carbook.client.activities.AdvertDetailActivity" />
        </activity>
        <activity
            android:name=".client.activities.PostulationsActivity"
            android:label="@string/title_activity_postulations"
            android:parentActivityName=".client.activities.AdvertDetailActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.upc.carbook.client.activities.AdvertDetailActivity" />
        </activity>
        <activity
            android:name=".client.activities.PostulationDetailActivity"
            android:label="@string/title_activity_postulation_detail"
            android:parentActivityName=".client.activities.PostulationsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.upc.carbook.client.activities.PostulationsActivity" />
        </activity>
        <activity
            android:name=".client.activities.AdvertCreateActivity"
            android:label="@string/title_activity_advert_create"
            android:parentActivityName=".share.activities.NavigationActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.upc.carbook.share.activities.NavigationActivity" />
        </activity>

        <activity
            android:name=".share.activities.CameraActivity"
            android:label="@string/title_activity_advert_detail"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>